/* Grundlegendes Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Taskleiste */
.taskbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.logo img {
    height: 60px; /* Größe des Logos */
}

/* Navigation */
.taskbarnavigation a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
}

.taskbarnavigation a:hover {
    text-decoration: underline;
}



/* Book Carousel */

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 300px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.book-carousel {
    display: flex;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    position: relative;
}

.book-list {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.book {
    flex: 0 0 auto;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    text-align: center;
}

.book img {
    max-width: 100px;
    margin-bottom: 10px;
}

.book-title {
    font-size: 18px;
    font-weight: bold;
}

.book-author {
    font-size: 16px;
    color: #555;
}

.book-description {
    font-size: 14px;
}

.carousel-btns {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.prev-btn,
.next-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
