/* Grundlegendes Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* taskbar CSS */
.taskbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
}

.logo img {
    height: 50px;
}

#taskbarnavigation a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
}

/* Dropdown-Menü Styling */
.profile-menu {
    display: none; /* Anfangs unsichtbar */
    position: absolute;
    top: 60px; /* Positioniert das Menü unterhalb des "My Profile"-Links */
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1000;
}

.profile-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.profile-menu li {
    padding: 12px 16px;
    text-align: left;
}

.profile-menu li a {
    text-decoration: none;
    color: black;
    display: block;
}

.profile-menu li a:hover {
    background-color: #ddd;
}



/* Book Carousel */

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 300px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.book-carousel {
    display: flex;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    position: relative;
}

.book-list {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.book {
    flex: 0 0 auto;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    text-align: center;
}


/* Hover-Effekt für das Buch */
.book:hover {
    transform: scale(1.05); /* Skaliert das Buch leicht */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Fügt einen Schatten hinzu */
    cursor: pointer; /* Ändert den Cursor zu einer Hand, um anzuzeigen, dass es klickbar ist */
}

.book img {
    max-width: 100px;
    margin-bottom: 10px;
}

.book-title {
    font-size: 18px;
    font-weight: bold;
}

.book-author {
    font-size: 16px;
    color: #555;
}

.book-description {
    font-size: 14px;
}

.carousel-btns {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.prev-btn,
.next-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
